[push]
  default = simple
[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = /Users/banaoh/.gitignore_global
[user]
  name = Kengo Obana
  email = aoyama.banaoh@gmail.com
[alias]
  co = checkout
  st = status
  brd = branch -D
  ci = commit
  br = branch
  d  = diff
  dm = diff master           # masterとのdiff
  dw = diff --color-words    # 単語単位でいろつけてdiff
  dc = diff --cached         # addされているものとのdiff
  ds = diff --staged         # 同上(1.6.1移行)
  d1 = diff HEAD~            # HEADから1つ前とdiff
  d2 = diff HEAD~~           # HEADから2つ前とdiff
  d3 = diff HEAD~~~          # HEADから3つ前とdiff
  d4 = diff HEAD~~~~         # HEADから4つ前とdiff
  d5 = diff HEAD~~~~~        # HEADから5つ前とdiff
  rih2 = rebase -i HEAD~~ 
  l  = log
  lp = log -p
